body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
    color: dimgray;
}

.orange-highlight{
    color:orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 5%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightSalmon, Tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700px;
}
.dream-section{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.single-experience{
    background-color: white;
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 80%;
}
.experience-section{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#full-stack{
    border-left: 7px solid;
}